<div class="eclaimRequest text-center">
    <div class="clearfix" ng-class="{'reimburs-mt' : $parent.createNew}">
        <div class="btn-group btn-group-sm claimStatusBtns mt-2 mb-2 pl-1 float-left" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">
                <span class="oi" data-glyph="check"></span>
            </button>
            <button type="button" class="btn btn-secondary">
                <span class="oi" data-glyph="thumb-up"></span>
            </button>
            <button type="button" class="btn btn-secondary">
                <span class="oi" data-glyph="thumb-down"></span>
            </button>                            
        </div>
        <h3 class="innerHeadText mt-2 mb-2 d-inline-block">Claim Treatment / Service Level</h3>
        <div class="currencyType d-inline-block"><span style="color: white;">Currency: </span>
            <span class="fldsWrap clearfix">
                <md-input-container flex-gt-sm style="width:auto !important; background:white; margin:0px;">    
                    <md-select ng-model="currencyType" ng-change="convertCurrency();" ng-disabled="gridOptions.data.length > 0">
                        <md-option value="{{option.ExchangeCurrency}}" ng-repeat="option in curencyList">{{option.ExchangeCurrency}}</md-option>
                    </md-select>
                </md-input-container>
            </span> 
        </div>
        <span class="fa fa-info-circle" style="color: #4e5e82;">
            <md-tooltip md-direction="{{info.tipDirection}}">
                <table>
                    <tr>
                        <td><strong>United Arab Emirates(AED):</strong></td>
                        <td>&nbsp; 1</td>
                    </tr>
                    <tr>
                        <td><strong>United States Dollar(USD):</strong></td>
                        <td>&nbsp; 2</td>
                    </tr>
                    <tr>
                        <td><strong>Euro(EUR):</strong></td>
                        <td>&nbsp; 3</td>
                    </tr>                
                </table>
            </md-tooltip>
        </span>
        <button type="button" class="btn btn-outline-primary btn-sm ml-3" ng-disabled="(currencyType == baseCurrency && gridOptions.data.length > 0)" ng-click="toggleLocalAndBaseCurrency();">
            {{ isLocalCurrency ? 'Convert To LocalCurrency' : 'Convert To BaseCurrency'}}
        </button>
        <a href="javascript:;" class="tablColmArrow float-right mt-2 mb-2 mr-3 ml-2" ng-click="gridAction('new', null, null);">
            <span class="oi" data-glyph="plus"></span>
        </a>
        <a href="javascript:;" class="tablColmArrow float-right mt-2 mb-2 mr-3 ml-2" id="right-button">
            <span class="oi" data-glyph="chevron-right"></span>
        </a>
        <a href="javascript:;" class="tablColmArrow float-right mt-2 mb-2 ml-2" id="left-button">
            <span class="oi" data-glyph="chevron-left"></span>
        </a>
    </div>
    <div class="table eclaimRequestTabl">
        <div ui-grid="gridOptions" ui-grid-pinning="" ui-grid-edit="" ng-if="inlineEdit" class="eclaimRequestTabl"></div>
        <div ui-grid="gridOptions" ui-grid-pinning="" ng-if="!inlineEdit" class="eclaimRequestTabl"></div>
    </div>
    <div ng-show="noRecordsAvailable">
        No Record Available...
    </div>
</div>