<nav class="navbar pt-1 pb-1">
        <span class="navbar-brand p-0 m-0">Remittance</span>
    </nav>
    <section>
        <div class="leftContainer leftreg">
            <div class="contentPart">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 p-0">
                        <div class="searchBarRow reimbListTabl" style="display: block">
                            <my-search-box search-info="fieldsObject" search-auto="registeredClaims" search-text="searchValue" callback="filterValues(data)"
                                    is-buttons-text="true" buttons-class="reg-search-btns"></my-search-box>
                       </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="contentPart pt-3 pb-3">
                <div class="container-fluid regfont">
                    <div class="row">
                        <div class="col-12 p-0">
                            <div class="reimbListTabl" id="reimbListTabl">
                                <h3 class="innerHeadText mt-2 mb-2 ml-2 d-inline-block">Search Results</h3>
                                <list-view headers="remittanceHeaders" records="registeredClaims" search-by="searchBy"></list-view>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    